.infoContainer {
    background: linear-gradient(45deg, #333, #555);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    background: linear-gradient(to right, #ff007f, #8800ff);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.infoList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.infoList li {
    background: #444;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong{
    color: rgba(255, 0, 204, 0.7);
}